<web-app>

<servlet>
<servlet-name>Review</servlet-name>
<servlet-class>Review</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Review</servlet-name>
<url-pattern>/Review</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Login</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>Registration</servlet-name>
<servlet-class>Registration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>Registration</servlet-name>
<url-pattern>/Registration</url-pattern>
</servlet-mapping>



</web-app>